body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", Arial, sans-serif;
  background: linear-gradient(to right, #e0f7f7, #b2f0ea);
  font-size: 18px;
}

.App {
  min-height: 100vh;
}

.navbar {
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to right, #0f766e, #14b8a6) !important;
  font-size: 18px;
}

.navbar-brand,
.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
}

h1 {
  color: #007BA7;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1px;
}

h2 {
  color: #14b8a6;
  font-size: 2rem;
  font-weight: 600;
}

p {
  color: #134e4a;
  font-size: 1.1rem;
}

.card {
  border-radius: 16px;
  transition: transform 0.25s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  font-size: 1.05rem;
}

.card:hover {
  transform: translateY(-6px) scale(1.03);
}

.card-title {
  color: #0f766e;
  font-weight: 700;
  font-size: 1.4rem;
}

.btn-primary {
  background-color: #f54927 !important;
  border: none;
  font-size: 1rem;
  padding: 10px 16px;
}

.btn-primary:hover {
  background-color: #0f766e !important;
}

.modal-content {
  border-radius: 16px;
  font-size: 1.05rem;
}